body {
    width: 100%;
    margin: 0;
}

.mem-slider {
    width: 96%;
    margin: 0 auto;
}

.slider-imgs-container {
    width: 97%;
    margin: 1em 1em 1em 1em;
    height: auto;
    order: 1;
}

.desc-container {
    order: 5;
    margin-top: 0.9em;
}

.mem {
    width: 0;
    height: auto;
    border-radius: 1em;
}

.mem-desc {
    display: none;
    font-size: 2em;
    color: #ffffff;
    letter-spacing: 0.1em;
    font-family: 'Arial-narrow', Helvetica, sans-serif;
}

#slider-btn-1:checked ~ .slider-imgs-container > #mem1,
#slider-btn-2:checked ~ .slider-imgs-container > #mem2,
#slider-btn-3:checked ~ .slider-imgs-container > #mem3,
#slider-btn-4:checked ~ .slider-imgs-container > #mem4 {
    width: 100%;
    transition: 1s;
}

#slider-btn-1:checked ~ .labels-desc > .desc-container > #desc1,
#slider-btn-2:checked ~ .labels-desc > .desc-container > #desc2,
#slider-btn-3:checked ~ .labels-desc > .desc-container > #desc3,
#slider-btn-4:checked ~ .labels-desc > .desc-container > #desc4 {
    display: block;
}

.slider-btn-label {
    display: inline-block
}

.slider-button {
    display: inline-block;
    background-color: #71ABFF;
    width: 2em;
    height: 2em;
    border: solid 0.2em #71ABFF;
    border-radius: 2em;
    order: 10;
    margin: 1em;
    transition-duration: 1s;
}

.slider-btn-label:hover {
    cursor: pointer;
}

.slider-btn-label:hover span {
    background-color: #ffffff;
    border-color: #ffffff;
    transition-duration: 1s;
}

.slider-btn-label:active span {
    background-color: #353535;
    border-color: #353535;
}

button:hover {
    cursor: pointer;
}

#slider-btn-1:checked ~ .labels-desc > .labels > #btn-label1 > .slider-button, 
#slider-btn-2:checked ~ .labels-desc > .labels > #btn-label2 > .slider-button,
#slider-btn-3:checked ~ .labels-desc > .labels > #btn-label3 > .slider-button,
#slider-btn-4:checked ~ .labels-desc > .labels > #btn-label4 > .slider-button {
    background-color: transparent;
}

.slider-btn {
    order: 10;
    display: none;
}
.slider-container {
    display: flex;
    flex-direction: column;
    background-color: #1E2022;
}

.labels {
    order: 10;
}

.labels-desc {
    width: 97%;
    order: 10;
    display: flex;
    justify-content: space-between;
    margin: 1em 1em 1em 1em;
}